:host {
  display: contents;
}

.wid-fretboard__note {
  border: 1px solid var(--color-text-dim);
  flex-shrink: 0;
  flex-grow: 1;
}

.wid-fretboard__action {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 32px;
  padding: 8px;
  border: 1px solid var(--color-text-dim);
  width: 55px;
}
