<com-select class="wid-fretboard__action" [style]="getOctaveSelectStyle()" [options]="octaveOptions()"
  [(selectedValue)]="startOctave">
  <ng-container *comSelectContentSlot="let option">
    {{option.id}}
  </ng-container>
</com-select>

<com-note-color-presenter class="wid-fretboard__action" [noteColor]="getNoteColor()">
  <com-select class="" [options]="notesOptions()" [(selectedValue)]="startNote">
    <com-note-presenter *comSelectContentSlot="let option" [noteName]="option.name" [octave]="getOctave(0)"
      [scaleStep]="getScaleStep(0)" />
  </com-select>
</com-note-color-presenter>

@for (fret of frets(); track fret) {
<com-note-color-presenter class="wid-fretboard__note" [style.width]="getFretWidth(fret) + 'px'" [noteColor]="getNoteColor(fret)">
  <com-note-presenter class="" [noteName]="getNoteName(fret)" [scaleStep]="getScaleStep(fret)"
     [octave]="getOctave(fret)"></com-note-presenter>
</com-note-color-presenter>
}