<div class="wid-fretboard-sticky">
  <com-select class="wid-fretboard-action" [options]="octaveOptions" [(selectedValue)]="startOctave">
    <ng-container *comSelectContentSlot="let option">
      {{option.id}}
    </ng-container>
  </com-select>

  <com-select class="wid-fretboard-action" [style]="getNoteColor(0)" [options]="notesOptions"
    [(selectedValue)]="startNote">
    <com-note-presenter *comSelectContentSlot="let option" [note]="option.id" [octave]="getOctave(0)"
      [scaleStep]="getScaleStep(0)" />
  </com-select>
</div>

@for (fret of frets(); track fret) {
<com-note-presenter class="wid-fretboard-note" [note]="getNote(fret)" [scaleStep]="getScaleStep(fret)"
  [style]="getNoteColor(fret)" [width]="getFretWidth(fret) + 'px'"
  [octave]="getOctave(fret)"></com-note-presenter>
}