:host {
    position: relative;
    display: flex;
    min-width: 30px;
    justify-content: center;
}

:host(.note-presenter--size-sm) {
    opacity: 0.65;

    .note-presenter__name {
        font-size: 0.75em;
    }

    .note-presenter__scale-step {
        font-size: 0.55em;
    }

    .note-presenter__octave {
        font-size: 0.6em;
    }
}

:host(.note-presenter--size-lg) {
    .note-presenter__name {
        font-size: 1.4em;
        font-weight: 600;
    }

    .note-presenter__octave {
        font-size: 1em;
    }
}


.note-presenter__name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-presenter__indexes {
    display: flex;
    flex-direction: column;

    .note-presenter__scale-step {
        display: flex;
        align-items: end;
        height: 100%;
        font-size: 0.7em;
    }

    .note-presenter__octave {
        display: flex;
        align-items: start;
        height: 100%;
        font-size: 0.8em;
    }
}

