<div class="wid-metronome">

  <div class="wid-metronome__control-group">
    <span class="wid-metronome__label">{{ 'metronome.volume' | translate }}</span>
    <com-slider
      [value]="metronome.volume()"
      (valueChange)="metronome.volume.set($event)"
      [min]="0"
      [max]="100"
      [showValue]="true"
      valueSuffix="%"
    ></com-slider>
  </div>

  <div class="wid-metronome__controls-row">
    <wid-bpm-control
      [(value)]="metronome.bpm"
      [min]="bpmMin"
      [max]="bpmMax"
      [step]="10"
      label="BPM"
    ></wid-bpm-control>

    <wid-beats-count-control
      [(value)]="metronome.beatsPerMeasure"
      [min]="1"
      [max]="16"
      [label]="'metronome.beats' | translate"
    ></wid-beats-count-control>
  </div>

  <div class="wid-metronome__visualizer-wrap">
    <div class="wid-metronome__visualizer">
      @for (beat of metronome.beatElements(); track $index) {
        <wid-metronome-beat-select
          [isActive]="beat.isActive"
          [selectedBeat]="beat.sound"
          (selectedBeatChange)="updateBeatSound($index, $event)"
          [index]="$index">
        </wid-metronome-beat-select>
      }
    </div>
  </div>

  <div class="wid-metronome__transport">
    <com-button (click)="metronome.start()" [disabled]="metronome.isRunning()">{{ 'metronome.start' | translate }}</com-button>
    <com-button (click)="metronome.stop()" [disabled]="!metronome.isRunning()">{{ 'metronome.stop' | translate }}</com-button>
  </div>

  <wid-auto-tempo></wid-auto-tempo>

</div>
