<div class="settings-page">
  <h1 class="settings-page__title">Настройки</h1>

  <div class="settings-page__group">
    <div class="settings-page__row">
      <span class="settings-page__label">Тема</span>
      <com-select
        class="settings-page__control"
        [options]="themeOptions"
        [(selectedValue)]="settings.theme"
      />
    </div>

    <div class="settings-page__row">
      <span class="settings-page__label">Именование нот</span>
      <com-select
        class="settings-page__control"
        [options]="noteNamingOptions"
        [(selectedValue)]="settings.dynamicNoteNaming"
      />
    </div>

    <div class="settings-page__row">
      <span class="settings-page__label">Подсветка нот</span>
      <com-select
        class="settings-page__control"
        [options]="highlightModeOptions"
        [(selectedValue)]="settings.highlightMode"
      />
    </div>

    <div class="settings-page__row">
      <span class="settings-page__label">Язык</span>
      <com-select
        class="settings-page__control"
        [options]="languageOptions"
        [(selectedValue)]="settings.language"
      />
    </div>
  </div>
</div>
