:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wid-gamma__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  overflow: auto;
  width: 100%;
  
  @media (width <= 768px) {
    justify-content: start;
  }
}

.wid-gamma__formula {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 5px;
}

.wid-gamma__note {
  height: 32px;
  width: 60px;
}

.wid-gamma__component-wrapper {
  border: 1px solid var(--color-text-dim);
}

.wid-gamma__formula-label {
  font-weight: bold;
}

.wid-gamma__formula-steps span:not(:last-child)::after {
  content: "-";
}

.wid-gamma__show-all-toggle {
  margin-right: 8px;
  flex-shrink: 0;
}
