<div class="wid-gamma-container">
  <!-- <com-select class="wid-gamma-select" [options]="colorsManager.colorModeOptions"
    [(selectedValue)]="colorsManager.selectedMode" /> -->

  <div class="button-toggle-group">
    <label class="button-toggle-label">
      <input type="radio" name="selectedColorModeRadio" [(ngModel)]="colorsManager.selectedMode" [value]="0"
        class="button-toggle-input">
      <span class="button-toggle-button"><svg com-static-singlecolor-icon></svg></span>
    </label>
    <label class="button-toggle-label">
      <input type="radio" name="selectedColorModeRadio" [(ngModel)]="colorsManager.selectedMode" [value]="2"
        class="button-toggle-input">
      <span class="button-toggle-button"><svg com-dynamic-singlecolor-icon></svg></span>
    </label>
    <label class="button-toggle-label">
      <input type="radio" name="selectedColorModeRadio" [(ngModel)]="colorsManager.selectedMode" [value]="1"
        class="button-toggle-input">
      <span class="button-toggle-button"><svg com-dynamic-multicolor-icon></svg></span>
    </label>
    <label class="button-toggle-label">
      <input type="radio" name="selectedColorModeRadio" [(ngModel)]="colorsManager.selectedMode" [value]="3"
        class="button-toggle-input">
      <span class="button-toggle-button"><svg com-static-multicolor-icon></svg></span>
    </label>
  </div>

  <com-select class="wid-gamma-select" [options]="scaleSteepsManager.modeOptions"
    [(selectedValue)]="scaleSteepsManager.selectedMode" />

  <com-select class="wid-gamma-select" [options]="scaleSteepsManager.scaleStepsOptions()"
    [(selectedValue)]="scaleSteepsManager.selectedScale" />
</div>

<div class="wid-gamma-container">
  <com-select class="wid-gamma-select" [style]="getNoteColor(0)"
    [options]="scaleSteepsManager.tonicOptions" [(selectedValue)]="scaleSteepsManager.selectedTonic">
    <com-note-presenter *comSelectContentSlot="let option" [note]="option.id" [scaleStep]="getScaleStep()" />
  </com-select>

  @for(offset of selectedFormula(); track $index) {
  <com-note-presenter class="wid-gamma-note" [style]="getNoteColor(offset)" [note]="getNote(offset)"
    [scaleStep]="getScaleStep(offset)" width="60px" />
  }
</div>

<div class="wid-gamma-formula">
  <span class="wid-gamma-formula-label">
    Формула:
  </span>

  <span class="wid-gamma-formula-steps">
    @for(offset of selectedFormulaFormatted(); track $index) {
    <span>
      {{offset}}
    </span>
    }
  </span>
</div>