<div class="wid-gamma__container">
  <com-select class="wid-gamma__select" [options]="scaleSteepsManager.qualityOptions"
    [selectedValue]="scaleSteepsManager.selectedQuality()"
    (selectedValueChange)="scaleSteepsManager.setQuality($event)" />

  <com-select class="wid-gamma__select" [options]="scaleSteepsManager.availableKindOptions()"
    [selectedValue]="scaleSteepsManager.selectedKind()"
    (selectedValueChange)="scaleSteepsManager.setKind($event)" />
</div>

<div class="wid-gamma__container">
  <com-select class="wid-gamma__select" [style]="getNoteColor(0)"
    [options]="scaleSteepsManager.tonicOptions" [(selectedValue)]="scaleSteepsManager.selectedTonic">
    <com-note-presenter *comSelectContentSlot="let option" [noteName]="option.name" [scaleStep]="getScaleStep()" />
  </com-select>

  @for(offset of selectedFormula(); track $index) {
  <com-note-presenter class="wid-gamma__note" [style]="getNoteColor(offset.interval)" [noteName]="getNoteName(offset.interval)"
    [scaleStep]="getScaleStep(offset.interval)" width="60px" />
  }
</div>

<div class="wid-gamma__formula">
  <span class="wid-gamma__formula-label">
    Формула:
  </span>

  <span class="wid-gamma__formula-steps">
    @for(offset of selectedFormulaFormatted(); track $index) {
    <span>
      {{offset}}
    </span>
    }
  </span>
</div>
