.com-select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  min-width: 55px;
  gap: 8px;

  background: transparent;
  cursor: pointer;
  
  &.com-select-disabled {
    background: var(--color-input-bg);
    cursor: not-allowed;
    color: var(--color-text-muted);
    opacity: 0.7;
  }
  .com-select-icon-slot {
    display: flex;
    justify-content: center;
    align-items: center;

    &:empty {
      display: none;
    }
  }
  
  .com-select-value {
    &.placeholder {
      color: var(--color-text-muted);
    }
    &:empty {
      display: none;
    }
  }
  
  .com-select-arrow {
    svg {
      transition: transform 0.3s ease;
      
      &.rotate-180 {
        transform: rotate(180deg);
      }
    }
  }
}

