<div class="com-select__icon-slot">
  <ng-content select="svg"></ng-content>
</div>
<span class="com-select__value" [class.com-select__value--placeholder]="selectedValue() === null">
  @if (emptyContent()) {
  {{ displayValue() }}
  }
  @else {
  <ng-container *ngTemplateOutlet="contentSlot()!.template; context: { $implicit: selectedOption() }"></ng-container>
  }
</span>
<span class="com-select__arrow">
  <svg width="12" height="12" comChevronDownIcon [class.com-select__arrow-icon--rotated]="isOpen()"></svg>
</span>
