.com-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: var(--control-height);
  gap: 8px;
  padding: 0;
  background: transparent;
  color: var(--color-text);
  border: none;
  cursor: pointer;

  &.com-select--disabled {
    cursor: not-allowed;
    color: var(--color-text-muted);
    opacity: 0.7;
  }

  .com-select__icon-slot {
    display: flex;
    justify-content: center;
    align-items: center;

    &:empty {
      display: none;
    }
  }

  .com-select__value {
    &.com-select__value--placeholder {
      color: var(--color-text-muted);
    }

    &:empty {
      display: none;
    }
  }

  .com-select__arrow {
    svg {
      transition: transform 0.3s ease;

      &.com-select__arrow-icon--rotated {
        transform: rotate(180deg);
      }
    }
  }
}
