.app-navigation {
  display: flex;
  background-color: var(--color-surface);
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

app-nav-item svg,
app-nav-item-button svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* Desktop */
@media (width >= 769px) {
  .app-navigation {
    position: static;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
  }
}

/* Mobile */
@media (width <= 768px) {
  .app-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .main-container {
    margin-bottom: 77px;
  }
}
