:host {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

button {
  color: var(--color-text);
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 4px;
  padding: 8px 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    background-color: var(--color-surface-hover);
  }
}

.app-nav-item-button__text {
  font-size: 14px;
}

@media (width >= 769px) {
  :host {
    flex-grow: 0;
    flex-basis: auto;
  }

  button {
    flex-direction: row;
    flex-grow: 0;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .app-nav-item-button__text {
    font-size: 16px;
  }
}

@media (width <= 768px) {
  .app-nav-item-button__text {
    font-size: 12px;
  }
}
