<com-spoiler [title]="'autoTempo.title' | translate">
  <div class="wid-auto-tempo__body">

    <com-checkbox class="wid-auto-tempo__row" [(checked)]="metronome.rampEnabled">
      {{ 'autoTempo.enable' | translate }}
    </com-checkbox>

    <div class="wid-auto-tempo__row">
      <span class="wid-auto-tempo__label">{{ 'autoTempo.bpmStep' | translate }}</span>
      <com-field class="wid-auto-tempo__input">
        <com-input
          type="number"
          [step]="1"
          [value]="metronome.rampDeltaBpm()"
          (valueChange)="onDeltaChange($event)"
        ></com-input>
      </com-field>
      <span class="wid-auto-tempo__hint">{{ 'autoTempo.bpmStepHint' | translate }}</span>
    </div>

    <div class="wid-auto-tempo__row">
      <span class="wid-auto-tempo__label">{{ 'autoTempo.period' | translate }}</span>
      <com-field class="wid-auto-tempo__input">
        <com-input
          type="number"
          [min]="1"
          [step]="1"
          [value]="metronome.rampEveryMeasures()"
          (valueChange)="onPeriodChange($event)"
        ></com-input>
      </com-field>
      <span class="wid-auto-tempo__hint">{{ 'autoTempo.periodUnit' | translate }}</span>
    </div>

    <div class="wid-auto-tempo__row">
      <com-checkbox [checked]="hasTarget()" (checkedChange)="onTargetToggle($event)">
        {{ 'autoTempo.targetBpm' | translate }}
      </com-checkbox>

      @if (hasTarget()) {
        <com-field class="wid-auto-tempo__input">
          <com-input
            type="number"
            [min]="bpmMin"
            [max]="bpmMax"
            [step]="1"
            [value]="metronome.rampTargetBpm()"
            (valueChange)="onTargetChange($event)"
          ></com-input>
        </com-field>
      }
    </div>

  </div>
</com-spoiler>
