<div class="wid-fretboard">
  <div class="wid-fretboard__line">
    <com-select class="wid-fretboard__action" [options]="countOptions" [(selectedValue)]="fretsCount"></com-select>

    <button class="wid-fretboard__action" (click)="insertString()">
      <svg width="16" height="16" comPlusIcon></svg>
    </button>
    <div class="wid-fretboard__sticky">
      <div class="wid-fretboard__action">
        <input type="checkbox" [(ngModel)]="noteNamesManager.useGammaNotes">
      </div>
      <div class="wid-fretboard__action">0</div>
    </div>
      @for (fret of frets(); track $index) {
      <div class="wid-fretboard__fret" [style.flexBasis]="getFretWidth(fret) + 'px'">{{fret}}</div>
      }
  </div>

  @for (tuningNote of tuning(); track $index;let stringNumber = $index) {
  <div class="wid-fretboard__line">
    <div class="wid-fretboard__action">
      {{stringNumber + 1}}
    </div>

    <button class="wid-fretboard__action" (click)="removeString(stringNumber)">
      <svg width="16" height="16" comTrashIcon></svg>
    </button>

    <wid-fretboard-string [index]="stringNumber" [startNote]="tuningNote.note" [startOctave]="tuningNote.octave"
      [fretsCount]="fretsCount()" [noteWidth]="getFretWidth"
      (startOctaveChange)="changeTuning(stringNumber, { note: tuningNote.note, octave: $event})"
      (startNoteChange)="changeTuning(stringNumber, { note: $event, octave: tuningNote.octave })" />
  </div>
  }

  <div class="wid-fretboard__line">
    <div class="wid-fretboard__action">#</div>

    <button class="wid-fretboard__action" (click)="appendString()">
      <svg width="16" height="16" comPlusIcon></svg>
    </button>

    <div class="wid-fretboard__sticky">
      <div class="wid-fretboard__action">#</div>
      <div class="wid-fretboard__action">0</div>
    </div>
      @for (fret of frets(); track $index) {
      <div class="wid-fretboard__fret" [style.width]="getFretWidth(fret) + 'px'">{{fret}}</div>
      }
  </div>
</div>