:host {
  width: 40px;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  cursor: pointer;
}

.wid-metronome-beat__section {
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  height: 14px;
  transition: background-color 0.1s ease;

  &:first-child {
    height: 4px;
  }
}

.wid-metronome-beat__number {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  opacity: 0.75;
}

@media (width <= 450px) {
  :host {
    width: 28px;
  }

  .wid-metronome-beat__number {
    font-size: 11px;
  }
}
