:host {
  width: 40px;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  cursor: pointer;
}

.wid-metronome-beat-section {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 14px;
  transition: background-color 0.1s ease;

  &:first-child {
    height: 4px;
  }
}

.wid-metronome-beat-number {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  opacity: 0.75;
}
